{% extends "base.html" %}

{% block scripts %}
<script>
    let chats = new Object(); // global and updated via socket.
    let currentChat = null;

    // grab data from cookies
    let lastChatIDCookie = null;
    getCookie('lastChatViewed', x => (lastChatIDCookie = x))


    var socket = io.connect();
    socket.on('connect', function () {
        console.log('Socket connected.')
    })

    // merge new data into chats, render the sidebar
    socket.on('update_messages', function (newChats) {
        if (Object.keys(newChats).length == 0) return
        mergeChats(newChats)
        renderChats()

        // set current chat via cookie if not otherwise set
        if (currentChat === null && lastChatIDCookie !== null) {
            currentChat = chats[lastChatIDCookie]
        }

        // rerender all messages in current chat
        if (currentChat !== null) currentChat.renderMessages()
    })

    function submitMessage() {
        // submit a message to be sent from the server
        let message = document.getElementById("userMessage").value
        let phone = currentChat.replyTo
        let account = currentChat.lastMessage().accountGuid
        socket.emit('send_message', { message, phone, account })
        document.getElementById("userMessage").value = ''

        // poll for new input
        userInputPoll()
    }

    // handle errors
    socket.on('application_error', function (message) {
        console.log(message)
    })

    // handle successes
    socket.on('imessage_success', function (dt) {
        console.log(`Message sent at ${dt}`)
    })

    // use this later to manually request messages
    function update() {
        // update since last unix stamp
        let lastUnix = Math.max(
            ...Object.values(chats).map(chat => chat.lastMessage().dateUnix)
        )
        socket.emit('request_messages', { since: lastUnix })
    }


</script>
{% endblock %}
