/*Set the row height to the viewport*/

.row-height {
    height: 100vh;
}

.left {
    height: 100%;
    overflow-y: scroll;
    border-right: 2px solid #e3e3e3;
}

.right {
    height: 100%;
    overflow-y: scroll;
    width: 100%;
}

/*Remove the scrollbar from Chrome, Safari, Edge and IE*/

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

* {
    -ms-overflow-style: none !important;
}

Resource #messageInput {
    position: absolute;
    right: 100;
    bottom: 0;
    width: 100%;
}

#submitMessage {
    height: 100%;
    width: 100%;
}

#chatList div div {
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 10px;
}

#currentSideBarChat {
    background-color: #e3e3e3;
}

.sidebarChatMessage {
    width: 98%;
    font-size: 0.8em;
    padding-bottom: 1em;
    display: block;
}

.messageList {
    width: 100%
}

.messageContainer {
    width: 72vw;
    padding-bottom: 1em;
}

.messageText {
    word-wrap: break-word;
    max-width: 30vw;
    padding: 0.5em 1em;
    border: 1px solid black;
    border-radius: 20px;
}

.messageFromOther {
    background: #e3e3e3;
}

.messageFromSelf {
    background: #beccfa;
}